@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-black bg-zinc-300 text-zinc-800 dark:text-slate-200 antialiased;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hideSrollbar::-webkit-scrollbar {
  display: none;
}
